{{ if .IsTranslated }}
<h4>{{ i18n "translations" }}</h4>
<ul class="{{ cond (eq $.Site.Language.LanguageDirection "rtl") "pr0 ml3" "pl0 mr0" }}">
    {{ range .Translations }}
    <li class="list f5 f4-ns fw4 dib {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr2" }}">
        <a class="hover-light-blue no-underline orange" href="{{ .RelPermalink }}">{{ .Lang }}</a>
    </li>
    {{ end}}
</ul>
{{ end }}
