<nav class="pv3 ph3 ph4-ns" role="navigation">
  <div class="flex justify-between items-center center">
    <a href="{{ .Site.Home.RelPermalink }}" class="f3 fw2 hover-light-blue no-underline orange dib">
      {{ with .Site.Params.site_logo }}
        <img src="{{ relURL . }}" class="w100 mw5-ns" alt="{{ $.Site.Title }}" />
      {{ else }}
        {{ .Site.Title }}
      {{ end }}
    </a>
    <div class="flex-collumn-l items-end tr">
      {{ partial "i18nlist.html" . }}
      {{ if .Site.Menus.main }}
        <ul class="{{ cond (eq $.Site.Language.LanguageDirection "rtl") "pr0 ml3" "lh-copy pl0 mr0 dn di-ns" }}">
          {{ range .Site.Menus.main }}
          <li class="list f5 f4-ns tr fw4 db {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl2" "pr1" }}">
            <a class="hover-light-blue no-underline orange" href="{{ .URL }}" title="{{ i18n "pageTitle" . }}">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
      {{ partialCached "social-follow.html" . }}
    </div>
  </div>
</nav>
