<nav class="pv3 ph1 ph4-ns bg-black-80" role="navigation">
  <div class="flex justify-around items-center">
      {{ if .Site.Menus.main }}
        <ul class="{{ cond (eq $.Site.Language.LanguageDirection "rtl") "pr0" "ph1 lh-copy pl0 mr0 dn-ns" }}">
          {{ range .Site.Menus.main }}
          <li class="list mv1 ph1 f5 f4-ns tr fw1 pl0 di {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl1" "pr1" }}">
            <a class="hover-blue no-underline orange pl1 pr1" href="{{ .URL }}" title="{{ i18n "pageTitle" . }}">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
  </div>
</nav>
