{{ with partialCached "func/style/GetMainCSS" "style/GetMainCSS" }}
<link rel="stylesheet" href="{{ .RelPermalink }}" />
{{ end }} {{ range site.Params.custom_css }} {{ with partialCached
"func/style/GetResource" . . }}{{ else }}
<link rel="stylesheet" href="{{ relURL (.) }}" />
{{ end }} {{ end }}

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Patrick+Hand"
/>
<style>
  * {
    font-family: 'Patrick Hand';
  }
</style>
